.headerContainer {
    width: 100%;
    height: 70px;
    // background-color: var(--primary-light-color);
    background-color: #040536;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .logoContainer {
        gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            &:first-child{
                width: 70px;
            }
            width: 200px;
        }
    }

    .menuItems {
        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0px 10px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        // color: var(--tertiary-light-color);
                        text-decoration: underline;


                    }
                }

                &:active {
                    color: var(--tertiary-light-color);
                    font-weight: 600;
                }
            }
        }
    }

    .searchContainer {
        height: 100%;
        display: flex;
        align-items: center;
        // opacity: 0;
        display: none;
        pointer-events: none;

        .searchInput {
            width: 200px;
            height: 40%;
            border: 1px solid var(--tertiary-light-color);
            outline: none;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }

}